<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" ><suite name="picard" verbose="1" time-out="10000">    <test name="samtools">        <packages>            <package name="net.sf.samtools.*"/>        </packages>    </test>    <test name="picard">        <packages>            <package name="net.sf.picard.*"/>        </packages>    </test></suite>